@import 'container/container';

body {
    margin: 0;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f6f6f6;
}