.c-btn {
     padding: 5px 15px;
     border: 1px solid $tiel;
     border-radius: 6px;
     color: $tiel;

     text-decoration: none;

     &:hover,
     &:active {
          background-color: $tiel;
          color: $white;
          cursor: pointer;
     }

     &:focus {
          background-color: $focus-grey;
     }


}