
<footer class="c-footer">

     <div class="l-container">
          <div class="c-footer__links">
               <li class="c-footer__link">
                    <a href="#">Contact</a>
               </li>
          </div>

          <div class="c-footer__socials">
               <div>1</div>
               <div>2</div>
          </div>
     </div>

     

</footer>