
<header class="c-header">
    <div class="c-header__content">
        <div class="c-header__brand">
            <a href="/">MatTheDev</a>
        </div>
        <div class="c-header__links">
            <a class="c-header__link">About</a>
            <a class="c-header__link">Projects</a>
        </div>

        <div class="c-header__contact">
            <a href="#" class="c-btn">Contact</a>
        </div>
    </div>
</header>
