<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MatTheDev</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
<body>

    <partial name="_header" />

    <main>
        @RenderBody()
    </main>

    <partial name="_footer" />

    <script src="/js/main.js"></script>
</body>
</html>
