<?xml version="1.0" encoding="utf-8"?>
<Content Key="72076bea-180f-4914-bf91-c8eb1ce52482" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-07-13T21:13:55</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9a0dec93-f130-4429-b77d-576a0fde8cbf">Home</Template>
  </Info>
  <Properties>
    <bodyContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7e8a6908ad534b608e4e8b368f7df992",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4ad3f87cbfd846879cb4da4ac3f54f2c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1923a936-b33e-409b-83df-d315151297a1",
      "udi": "umb://element/7e8a6908ad534b608e4e8b368f7df992",
      "headline": "This is a headline"
    },
    {
      "contentTypeKey": "8d28b21f-95e2-4143-8b26-631b45614ee3",
      "udi": "umb://element/4ad3f87cbfd846879cb4da4ac3f54f2c",
      "richText": "<p>This is some rich text - welcome to my WEBSITE!</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyContent>
  </Properties>
</Content>