.c-header {
     background-color: $bg-grey;
     padding: 14px;

     &__brand > a {
          text-decoration: none;
          color: $white;
     }

     &__content {
          @extend .l-container;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
     }     

     &__links {
          display: none;
          flex-direction: row;
          justify-content: space-evenly;

          @media (min-width: 750px) {
               display: flex;
          }
     }

     &__link {
          padding: 8px;

          &:hover,
          &:active,
          &:focus {
               font-weight: 700;
               cursor: pointer;
          }
     }
}